<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% if document_list %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Songs Index</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'index' %}">new song</a></li>
      <li class="active"><a href="#">all songs</a></li>
      <li><a href="#">song index table</a></li>
    </ul>
  </div>
</nav>

  <script type="text/javascript">
      $(function(){
                $('#all_songs_form').submit(function() {
                
                    var values=[];
                    var checkboxes = $("table#all_songs_container input[type=checkbox]:checked");
                    for(var x = 0 ; x < checkboxes.length ; x++){
                        values.push($(checkboxes[x]).val());
                    }
                    var ids=values.join();
                    $("#slected_document_ids").val(ids);         
                return true; 
            });
      });
  </script>
<div class="container" style="padding: 1%" >
  <form id="all_songs_form" action="{% url 'songwasdeleted' %}" method="post">
  <input id="slected_document_ids" type="hidden" name="slected_document_ids"/>
  {% csrf_token %}
      <table id="all_songs_container" class="table table-bordered">
      <tr>
      <th>id</th>
      <th>author</th>
      <th>title</th>
      <th>url</th> 
      <th>delete word</th>
      </tr>
      {% for document in document_list %}
          <tr>
          <th>{{document.id}}</th>
          <th>{{document.author_name}}</th>
          <th><a href="{% url 'detail' document.id %}">{{document.song_name}}</a></th>
          <th>{{document.song_url}}</th>
          <th> <input type="checkbox" id="document{{ forloop.counter }}" name="docs_list" value="{{document.id}}">
          <label for="document{{ forloop.counter }}"></label></th>
          </tr>
      {% endfor %}
      </table>

  <input type="submit" class='btn-primary' value="Delete" />
  </form>
</div>
{% else %}
    <p>No document available.</p>
{% endif %}
