{% if content %}
    <h2>song id:{{ songdetails.id }}</h2>
    <h2>title:{{ content.title }}</h2>
    <h2>body:{{ content.body }}</h2>
    

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    
{% else %}
    <p>No songs are available.</p>
{% endif %}


{% if song_list %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ul>
    {% for song in song_list %}
     <li>song id: {{song.id}}</li>
    <li>Author: {{song.author_name}}</li>
    <li>Title: {{ song.song_name }}</li>
    <li>Url: {{  song.song_url }}</li>
    <li><a href="{% url 'detail' song.id %}">Song details</a></li>
    {% endfor %}
    </ul>