{% if error %}
    <h1>{{error}}</h1>

{% else %}
    {% if document %}
        
        <h1>{{document.song_name}}</h1>
        <h3>{{document.author_name}}</h3>
        <h3>{{document.song_url}}</h3>
     
 
        <ul>
        {% for word in document.words_set.all %}
        <li>Term: {{word.word}}</li>
        <li>No of appearences: {{ word.times }}</li>
        <li>Indexes: {{ word.indexes }}</li>
        <br>
        {% endfor %}
        </ul>

    {% else %}
        <p>No document available.</p>
    {% endif %}
{% endif %}