{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% if error %}

    <h1>{{error}}</h1>

{% else %}
    {% if document %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Songs Index</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">new song</a></li>
          <li><a href="{% url 'view' %}">all songs</a></li>
          <li><a href="{% url 'searchindex' %}">search</a></li>
          <li class="active"><a href="#">song index table</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" style="padding: 1%" >    
        <h1><strong>Song name: </strong> {{document.song_name}}</h1>
        <h1><strong>Author: </strong> {{document.author_name}}</h1>
        <h1><strong>Url: </strong> {{document.song_url}}</h1>
        <br>
        <h1><strong>Song words:</strong></h1>
        <br>
        <table class="table table-bordered">
        <tr>
        <th>Term</th>
        <th>Appearences</th> 
        <th>Indexes</th>
        </tr>

        {% for songofword in document.songofword_set.all %}
        <tr>
            <th>{{ songofword.word.word }}</th>
            <th>{{ songofword.times }}</th>
            <th>{{ songofword.indexes }}</th>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No document available.</p>
    {% endif %}
{% endif %}
