{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% else %}
    {% if song%}
 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Songs Index</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'searchindex' %}">search</a></li>
          <li class="active"><a href="#">song</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" style="padding: 1%" >
            
        <h3>{{song.author_name}}-{{song.song_name}}</h3>
        <p>
          {{song.song_content|safe}}
        </p>
    </div>
    {% else %}
        <p>No words are found.</p>
    {% endif %}
{% endif %}