{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Songs Index</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">new song</a></li>
      <li><a href="{% url 'view' %}">all songs</a></li>
      <li><a href="{% url 'searchindex' %}">search</a></li>
      <li><a href="#">song words</a></li>
    </ul>
  </div>
</nav>
<hi>Files won`t appear at search.</hi>

